
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: #cfc4b2;
}

/* ::-webkit-scrollbar{
    display: none;
}
html.lenis, html.lenis body {
    height: auto;
  }
  
  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }
  
  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }
  
  .lenis.lenis-stopped {
    overflow: hidden;
  }
  
  .lenis.lenis-smooth iframe {
    pointer-events: none;
  } */
h1{
    margin: 0 auto;
    font-family: "cofo-sans-pixel", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20rem;
    color: #141414;
    text-align:center;
   

}
.navbar{
    font-family: "cofo-sans-pixel", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    background-color: #141414;
    display:flex;
    justify-content:space-between;
    padding: 12px;
    position:fixed;
    max-width: 100%;
    width: 100%;
    margin:0 auto;
    
}
a{
    text-decoration: none;
}
.site-title{
    width:100%;

}
/* .value-object{ */
    /* width:50%; */
    /* margin:0 auto; */
    /* margin-top: 30px;
    margin-bottom: 30px; */
    /* padding: 0.3%; */
    /* border-radius: 25px;
    margin-left: 30px; */
    
/* } */
/* .value_box{
    margin-left:100px
} */
h2{
    margin: 0 auto;
    font-family: "cofo-sans-pixel", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:  #141414;
    font-size: 2rem;
    margin-top:30px;
   

}
h3{
    /* margin: 0 auto; */
    font-family: "cofo-sans-pixel", sans-serif;
    font-weight: 400;
    font-style: normal;
     color: #141414;
    text-align:center;
}

p{
    font-family: "cofo-sans-pixel", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #141414;
    }
h5{
        font-family: "cofo-sans-pixel", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: #141414;  
    }
.home{
    display: flex;
    align-items: center;
    min-height:90vh;
    /* background:url('https://cdn.sanity.io/images/u917thx2/production/54e51b9449d6f2b7a224e7b8fd3ef6ba9cbfa908-2880x2057.jpg?w=2880&h=2057&auto=format'); */
    box-sizing: border-box;
    background-color: #cfc4b2;
    background-size:auto;
    background-position: center;
}
.home-image{
    width: 552px;
    height: 564px;
    /* flex-shrink: 0; */
    /* position:relative; */
    background-image: url('images copy/2024-ICA-OP_Morehshin-Allahyari_tsui-10 1.jpg');
    background-size: 100% 100%;
    border: 1px solid red;
  }
.container{
    max-width: 1200px;
    width: 90%;
    margin:0 auto;
}

/* .navbar{
    position:sticky;
    width: 100%;
    background:  #141414;
    #cfc4b2; 
    color:  #cfc4b2;
    opacity: 0.85;
    z-index: 999;

} */
.navbar-container{
    display: flex;
    justify-content:space-between;
    height: 40px;
    align-items:center;
}


.navbar a{
    color: #cfc4b2;
    font-weight: 500;
   
    
}
.navbar a:hover{
    color:#cbdbd8

}
.button{
    width: 300px;
    height: 154px;
    flex-shrink: 0;
    border-radius: 52px;
    border: 3px solid var(--Very-Dark-Gray, #141414);
    background: rgba(217, 217, 217, 0.00);
   margin-left:850px;
}
.ica-logo{
   width: 101px;
  height: 92px;
  flex-shrink: 0;
  margin-left: 36px;
  margin-top: 35px;
  margin-bottom:27px;
}
.dash{
   background-color: black;
   width: 90px;
   height: 8px;
   margin-left: 155px;
   margin-top: 49px;
}

.container{  
    width:100%;
    max-width: 100%;
    height: 100%;
    /* border:50px red;  */
   
    padding: 100px;
    padding-left: 1;
    padding-right: 1;
    margin: 0px auto;
    background-color:#141414;
    position:relative; 
    display: flex;
    justify-content:center;
    
} 
.container-two{
    background-color:#cfc4b2;
    width: 100%;
    margin: 0px auto;
    max-width: 100%;
    position: relative;
      
}
    .line{
    width: 100%;
    height: 8px;
    margin-top: 20px;
    background-color: #141414;
    position:relative;
}
.container h2{
    padding-left: 35px;
    font-size:2rem;
    
}
.container p{
    padding-left:150px;
    padding-right:5px;
}
.container h5{
   margin-top: 50px;
   padding-left: 500px;
   padding-bottom: 35px;
} 
.goto-gallery{
    width:100%;
    max-width: 100%;
    height: 100%;
    margin: 0px auto;
    background-color:#141414;
    padding: 100px;
    padding-left: 1;
    padding-right: 1;

}
.button-gallery h2{
    color:#141414;
    margin-left: 55px;
    margin-top: 35px;
    margin-bottom:27px;
    padding-top: 50px;
}
.button-gallery{
    width: 250px;
    height: 135px;
    background-color: #cfc4b2;
    border-radius: 52px;
    margin: 0 auto;
}